<% provide(:title, "ログイン") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">ログイン</h1>
      </div>
      <div class="panel-body form-padding-50">
    
        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
    
          <%= f.label :email, class: "label-login" %>
          <%= f.email_field :email, class: 'form-control' %>
    
          <%= f.label :password, class: "label-login" %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
            <%= f.check_box :remember_me, id: "remember-me" %>
            <span>ログイン情報を記憶する</span>
          <% end %>

          <%= f.submit "メールアドレスでログイン", class: "btn btn-danger btn-block btn-lg btn-login" %>
        <% end %>
        <p class="ash-text">
          新規登録がまだの場合は<%= link_to "こちら", signup_path, class: 'ash-link' %>
        </p>
        <small>または</small><br>
        <%= link_to image_tag("btn_login_base_44dp.png"), "https://access.line.me/dialog/oauth/weblogin?response_type=code&client_id=1654374382&redirect_uri=https://rocky-atoll-18664.herokuapp.com%2Fauth&state=123abc" %>
      </div>
    </div>
  </div>
</div>