<% provide(:title, @user.name) %>
<h1><%= @user.name %>, <%= @user.email %></h1>
<div>
  <h1><%= @first_day.year %>/<%= @first_day.month %></h1>
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>日</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
    </thead>

    <tbody>
      <% week1 = @one_month.slice(0..6) %>
      <% week2 = @one_month.slice(7..13) %>
      <% week3 = @one_month.slice(14..20) %>
      <% week4 = @one_month.slice(21..27) %>
      <% week5 = @one_month.slice(28..37) %>
      <% week6 = @one_month.slice(38..45) %>

      <tr>
      <% week1.each do |day| %>
        <td><%= day %></td>
      <% end %>
      </tr>

      <tr>
      <% week2.each do |day| %>
        <td><%= day %></td>
      <% end %>
      </tr>

      <tr>
      <% week3.each do |day| %>
        <td><%= day %></td>
      <% end %>
      </tr>

      <tr>
      <% week4.each do |day| %>
        <td><%= day %></td>
      <% end %>
      </tr>

      <tr>
      <% week5.each do |day| %>
        <td><%= day %></td>
      <% end %>
      </tr>
      
      <% if week6.present? %>
        <tr>
        <% week6.each do |day| %>
          <td><%= day %></td>
        <% end %>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>

<script>
</script>