<% provide(:title, @user.name) %>
<h1><%= @user.name %>, <%= @user.email %></h1>
<div id="calendar"></div>

<h1>Ajaxを使ってみよう</h1>
<%= form_tag(url_for(:action => 'show'), :remote => true) do %>
  <%= text_field_tag :title %>
  <%= submit_tag "タイトルを変更する" %>
<% end %>