<% provide(:title, @user.name) %>
<div>
<h1><%= @user.name %>, <%= @user.email %></h1>
  <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn" %>
  <%= link_to "→", user_path(date: @first_day.next_month), class: "btn" %>
          
  <h1><%= @first_day.year %>/<%= @first_day.month %></h1>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>日</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
    </thead>

    <tbody>
      <% month = [] %>
      <% week1 = @one_month.slice(0..6) %>
      <% week2 = @one_month.slice(7..13) %>
      <% week3 = @one_month.slice(14..20) %>
      <% week4 = @one_month.slice(21..27) %>
      <% week5 = @one_month.slice(28..34) %>
      <% week6 = @one_month.slice(35..45) %>
      <% month = [week1, week2, week3, week4, week5, week6] %>

      <% month.each do |week| %>
        <tr>
          <% week.each do |day| %>
            <td>
              <% if current_user.tutor? %>
                <%= link_to day.day, lessons_lessons_oneday_user_path(@user.id, day: day), remote: true, class: "btn btn-danger" %>
              <% elsif current_user.parent? %>
                <%= link_to day.day, resavation_edit_oneday_user_path(@user.id, day: day), remote: true, class: "btn btn-danger" %>
              <% end %>
              <% if @lessons.count > 0 %>
                <% @lessons.each do |lesson_day| %>
                  <% if day == lesson_day.lesson_date %>
                    <p><%= lesson_day.start.strftime('%H:%M') %>〜<%= lesson_day.end.strftime('%H:%M') %></p>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
    </tbody>
  </table>
  
</div>

<!--モーダルウインドウ表示-->
<div id="lessons_oneday" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="resavation_edit_oneday" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script>
</script>