<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '◎') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <% if current_user.tutor? %>
        <h1 class="modal-title">家庭教師　<%= @tutor.name %>さんの<%= @day %>の予約状況</h1>
      <% else %>
        <h1 class="modal-title">家庭教師　<%= @tutor.name %>さんの<%= @day %>の予約可能時間</h1>
      <% end %>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">

          <% @resavations.each do |r| %>
            <%= r %> 
            <%= r.start.to_s %> 
          <% end %>

          <table>
            <thead>
              <tr>
                <th>時間</th>
                <th>予約可/不可</th>
              </tr>
            </thead>
            <tbody>
              <% btn_status = "" %>
              
              <% if @resavation_hour_statuses.nil? %>
                <% @resavation_hour_statuses = @lesson_exist %>
              <% end %>
              
              
              <% @resavation_hour_statuses.each_with_index do |rhs, i|%>
                <% if rhs == 2 %>
                  <% btn_status = "Full" %>
                <% elsif rhs == 1 %>
                  <% btn_status = "◎" %>
                <% else %>
                  <% btn_status = "x" %>
                <% end %>
                <tr>
                  <td><%= i %></td>
                  <!--もしカレントユーザーが親だったら、フォームにして◎を予約ボタンにし、予約を保存する-->
                  <% if current_user.parent? %>
                    <td>
                      <% if rhs == 0 || rhs == 2 %>
                        <button class="btn btn-default" disabled><%= btn_status %></button>
                      <% elsif rhs == 1 %>
                      
                      
                        <%= form_with(modal: @resavation, url: resavation_update_oneday_user_path, local: true) do |f| %>
                          <%= render 'shared/error_messages3', object: @resavation %>
                          <%= f.hidden_field :start, :value =>i %>
                          <%= f.hidden_field :finish, :value =>i %>
                          <%= f.hidden_field :tutor_id, :value =>@tutor.id %>
                          <%= f.hidden_field :resavation_date, :value =>@day %>
                          <%= f.hidden_field :user_id, :value =>current_user.id %>
                          <!--もし選択された日付が本日である　かつ　時間が現在時間より大きかったら予約ボタンを出す-->
                          <% if @day.to_date == Date.current && i > Time.current.hour %>
                            <%= f.submit btn_status, data: { confirm: "#{@day}　#{i}時に予約してよろしいですか？" }, class: "btn btn-danger" %>
                          <!--もし選択した日が未来日なら、予約ボタンを出す-->
                          <% elsif @day.to_date > Date.today %>
                            <%= f.submit btn_status, data: { confirm: "#{@day}　#{i}時に予約してよろしいですか？" }, class: "btn btn-danger" %>
                          <!--それ以外はxボタンを表示-->
                          <% else %>
                            <button class="btn btn-default" disabled>x</button>
                          <% end %>
                        <% end %>
                    </td>

                      
                      <% end %>
                  <!--もしカレントユーザーが親以外なら文字列◎などのみ出力-->
                  <% else %>
                    <td>
                    <%= form_with(modal: @resavation, url: resavation_update_oneday_user_path, local: true) do |f| %>
                        <%= render 'shared/error_messages3', object: @resavation %>
                        <%= f.hidden_field :start, :value =>i %>
                        <%= f.hidden_field :finish, :value =>i %>
                        <%= f.hidden_field :tutor_id, :value =>@tutor.id %>
                        <%= f.hidden_field :resavation_date, :value =>@day %>
                        <%= f.hidden_field :user_id, :value =>current_user.id %>
                        <% if i > Time.current.hour %>
                          <%= f.submit btn_status,disabled: true, data: { confirm: "#{@day}　#{i}時に予約してよろしいですか？" }, class: "btn btn-danger" %>
                        <% else %>
                          <button class="btn btn-default" disabled>x</button>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>

                </tr>
              <!--@resavation_hour_statuses.each_with_index do |rhs, i|の終わり-->
              <% end %>  
            </tbody>
          </table>

        </div>  <!--<div class="col-md-6 col-md-offset-3">の閉じタグ-->
      </div>
    </div>    <!--<div class="modal-body">の閉じタグ-->
  </div>
</div>
